@using BlazorMinesweeper.Client.Models;

<div class="minesweeper-border-topleft"></div>

@for (int i = 1; i < MaxWidth; i++)
{
    <div class="minesweeper-border-horizontal"></div>
}

<div class="minesweeper-border-topright"></div>
<div class="minesweeper-border-vertical-long"></div>
<div class="minesweeper-time-@GetPlace(NumberOfMinesRemaining, 100)" id="mines_hundreds"></div>
<div class="minesweeper-time-@GetPlace(NumberOfMinesRemaining, 10)" id="mines_tens"></div>
<div class="minesweeper-time-@GetPlace(NumberOfMinesRemaining, 1)" id="mines_ones"></div>

@if (GameStatus == GameStatus.Failed)
{
    <div class="minesweeper-face-dead" id="face" style="margin-left:70px; margin-right:70px;" @onclick="FaceIconClicked"></div>
}
else if (GameStatus == GameStatus.Completed)
{
    <div class="minesweeper-face-win" id="face" style="margin-left:70px; margin-right:70px;" @onclick="FaceIconClicked"></div>
}
else
{
    <div class="minesweeper-face-smile" id="face" style="margin-left:70px; margin-right:70px;" @onclick="FaceIconClicked"></div>
}

<div class="minesweeper-time-@GetPlace(SecondsElapsed,100)" id="seconds_hundreds"></div>
<div class="minesweeper-time-@GetPlace(SecondsElapsed,10)" id="seconds_tens"></div>
<div class="minesweeper-time-@GetPlace(SecondsElapsed,1)" id="seconds_ones"></div>
<div class="minesweeper-border-vertical-long"></div>